@media only screen and (max-width: 600px){
    body{
        width: 600px
    }
}
body{
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color)
}
#pro{
    display: grid;
    grid-template-columns: 1fr, 1fr;
}